
[mysqld]

symbolic-links=0
character-set-server=utf8
log-bin=mysql-bin

default-storage-engine=INNODB
sql-mode='STRICT_ALL_TABLES,NO_AUTO_VALUE_ON_ZERO'
innodb_file_per_table

collation_server=utf8_bin
max_connections=1000
lower_case_table_names=1
# ちょーっと、Dockerでそんなメモリ取られても困るのでデフォルトで。
# innodb_buffer_pool_size=4915M
# innodb_log_file_size=819M
long_query_time=1
thread_cache_size=333
max_binlog_size=256M
expire_logs_days=7
query_cache_size=0
sort_buffer_size=512K
innodb_lock_wait_timeout=120
wait_timeout=3600
binlog_format=mixed
binlog_row_image=minimal

[mysql]
default-character-set=utf8

